

.thumb-main {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 19rem;
  place-items: center;
  border-radius: 2rem;
  background: white;
  border: 1px solid rgba(0,0,0,0.06);
}

.thumb-main img {
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.nav {
  position: absolute;
  top: 50%;
  color: white;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.65);
  outline: none;
  border: none;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.thumb-main:hover .nav {
  opacity: 1;
}

.prev {
  left: 0.25rem;
  width: 3rem;
  height: 3rem;
  font-weight: bolder;
  font-size: 1.5rem;
}

.next {
  right: 0.25rem;
  width: 3rem;
  height: 3rem;
  font-weight: bolder;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.thumb-container {
  display: flex;
  gap: .5rem;
  padding: .5rem;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.06),
    0 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  background-color: rgba(0,0,0,50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.thumb-container:hover {
  opacity: 1;
}

.thumb-btn {
  padding: 0;
  outline: none;
  background-color: rgba(0,0,0,50%);
  border: none;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumb-img {
  width: 3rem;
  height: 3rem;
  border-radius: 14px;
}

.active {
  border: brown solid 2px;
}
