body {
	background-color: #352f5b;
	color: white;
	user-select: none;
	font-family: 'SN Pro', sans-serif;
	font-weight: 600;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1 {
	text-transform: uppercase;
	font-size: 3rem;
}

form {
	display: flex;
	flex-direction: column;
	height: 50vh;
}

.input-field {
	display: flex;
}

input {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #2a2649;
	outline: none;
	border: none;
	border-radius: 17px 0px 0px 17px;
	color: white;
	font-size: 1rem;
}

input:focus {
	border: 1px #6c63ff solid;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.add-btn {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 0px 17px 17px 0px;
	font-size: 1rem;
	font-weight: 600;
	background-color: #6c63ff;
}

ul {
	margin: 0;
	padding: 0;
	margin-top: 1rem;
	list-style: none;
	gap: 1rem;
	display: flex;
	flex-direction: column;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	cursor: pointer;
	background-color: #42396f;
	border-radius: 17px;
}

li p {
	font-size: 1.25rem;
}

li.done {
	display: flex;
	color: rgba(255, 255, 255, 0.3);
}

li.done p {
	text-decoration: line-through;
}

button {
	outline: none;
	background-color: #6c63ff;
	border: none;
	color: white;
}

.del-img {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url('./assets/trash-white.png');
	transition: all 0.3s ease;
	cursor: pointer;
}

.del-img:hover {
	background-image: url('./assets/trash-red.png');
}

.del-btn {
	background-color: transparent;
	color: blakc;
}

.right-block {
	display: flex;
	align-items: center;
}

.checkbox {
	background-color: transparent;
	background-image: url('./assets/unchecked.png');
	width: 1.5rem;
	height: 1.5rem;
	background-size: cover;
}

.checkbox.checked {
	background-image: url('./assets/checked.png');
	background-size: cover;
}
