.container-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  height: 35rem;
  padding-bottom: 2rem;
  justify-content: space-around;
}

app-carousel {
}

.price {
  position: absolute;
  z-index: 2;
  right: 3rem;
  top: 1px;
  color: #f6f6f7;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0  0 0.5rem 0.5rem;
  background: #1F1F1F;
  backdrop-filter: blur(6px);
}

.content {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.l-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.25rem;
}

.view-more-btn {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  background: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  padding: 1rem 1.25rem;
  border-radius: 50%;
  cursor: pointer;
}

.view-more-btn:hover {
  opacity: 1;
}

.r-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.link img{
  height: 2rem;
}

.desc-container {
  overflow: scroll;
}

.l-content::after {
  position: absolute;
  content: "";
  width: 2px;
  left: 60%;
  height: 25%;
  top: 68%;
  background-color: #1F1F1F;
}

.like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.5rem;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.like-cont {
  width: 1.5rem;
}

.del-btn {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border: 1px solid red;
  background: transparent;
  outline: none;
  font-weight: bolder;
  border-radius: 15px;
  transition: 0.2s ease;
}

.del-btn:hover {
  background: red;
  color: white;
}

.ask-del-container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ask-del-btn-container {
  display: flex;
  gap: 2rem;
}

.ask-del-conf {
  font-size: 1.25rem;
  outline: none;
  border: none;
  background: darkred;
  color: white;
  padding: 1rem 2rem;
  border-radius: 15px;
  transition: .3s ease;
}

.ask-del-conf:hover {
  background: red;
}

.ask-del-rej {
  font-size: 1.25rem;
  outline: none;
  border: none;
  background: darkslategray;
  color: white;
  padding: 1rem 2rem;
  border-radius: 15px;
  transition: .3s ease;
}

.ask-del-rej:hover {
  background: darkgreen;
}
