.burger-btn {
  top: 0;
  left: 0;
  outline: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1rem;
  padding-left: 2rem;
  margin: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, .6);
}


.burger-img{
  width: 4rem;
  height: 4rem;
}

.cross-img {
  width: 4rem;
  height: 4rem;
}

.menu-container form{
  margin-left: 2rem;
  width: 100vw;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

label {
  font-size: 2rem;
  color: white;
}
